.env
db.sqlite3
app/migrations
__init__.py
**/__init__.py
__pycache__/
staticfiles
files/photos/products/*
!files/photos/products/init
files/photos/requests/*
!files/photos/requests/init
persistencebot
