{% extends 'app2/layout/basic.html' %}

{% load static %}
{% load residue %}
{% block title %}
Изменить товар
{% endblock %}

{% block main %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
    {% for f in form %}
            {% if forloop.counter0 != 0 and forloop.counter0|residue:2 == 0  %}
            </div>
            <div class="row">
            {% else %}
            {% endif %}
                <div class="col">
                {% if f.id_for_label == 'id_photo' %}
                
                    <div class="custom-file mb-3" style="margin-top: 30px;">
                        {{ f.errors }}
                        <label class="custom-file-label" for="id_photo">Фото</label>
                        {{ f }}
                    </div>
                {% else %}

                    <div class="form-group">
                        {{ f.errors }}
                        {{ f.label_tag }}  {{ f }}
                    </div>
                {% endif %}
                </div>
        {% endfor %}    
            </div>
    </div>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
</form>


{% endblock %}