{% extends 'app2/layout/basic.html' %}

{% load static %}
{% load functions %}

{% block link %}
<link rel="stylesheet" href="{% static 'assets/css/my.css' %}">  
{% endblock %}


{% block title %}
Запросы
{% endblock %}

{% block main %}

{% if messages %}
<div class="messages" id="messages">
    {% for message in messages %}
    <div id="alert" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
        <div class="iq-alert-text"><b>{{ message }}</b></div>
     </div>

    {% endfor %}
</div>
{% endif %}

<div align="right" class="delete-all" style="margin-bottom: 20px;">
   <a onclick="return confirm(&#39;Вы уверены, что удалить все данные?&#39;)" href="{% url 'laureate_delete' 'all' %}">
      <button type="button" class="btn btn-dark mt-2" style="font-size: 10px; padding: 5px;"> Удалить все </button>

   </a>

</div>

<table id="datatable" class="table data-table table-striped table-bordered" >
    <thead>
       <tr>
          <th>№</th>
          <th>ФИО</th>
          <th>Номер телефона</th>
          <th>Товар</th>
          <th>Количество</th>
          <th>Баллы</th>
          <th>Статус</th>
          <th>Действия</th>
          <th></th>
       </tr>
    </thead>
    <tbody>
        {% for l in list %}
        {% if l.status == 'wait' %}
        <tr>
        {% elif l.status == 'conf' %}
        <tr style="background-color: rgba(45, 238, 45, 0.785);">
            
        {% elif l.status == 'cancel' %}
        <tr style="background-color: rgba(244, 0, 0, 0.513);">
        {% elif l.status == 'end' %}
        <tr style="background-color: rgba(136, 136, 136, 0.659);">
        {% endif %}
            <td>{{ forloop.counter }}</td>
            <td>{{ l.user.name }}</td>
            <td>{{ l.user.phone }}</td>
            
            <td>
                <a class="mt-2 btn btn-primary" style="background-color: rgb(20, 100, 204);" onclick="create_card({{ l.prize|text_maker }}, '/files/{{ l.prize.photo }}')" role="button"  data-toggle="tooltip" title=""><i style="color: antiquewhite;" class="fas fa-file-alt"></i></a>
               
            </td>
            
            <td>{{ l.amount }}</td>

            <td>{{ l.point }}</td>
            

            {% if l.status == 'wait' %}
            <td>В ожидании</td>
            <td>
                <a class="mt-2 btn btn-primary" style="background-color: rgb(19, 160, 19);" href="{% url 'laureate_change_status' l.pk 'conf' %}" role="button" onclick="return confirm(&#39;Вы уверены?&#39;)" data-toggle="tooltip" title="Принять"><i class="fas fa-check-circle"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Принять</div>
               </div> -->


               <a class="mt-2 btn btn-primary" style="background-color: rgb(163, 26, 26);" href="{% url 'laureate_change_status' l.pk 'cancel' %}" 
               role="button" onclick="return confirm(&#39;Вы уверены?&#39;)"  data-toggle="tooltip" title="Отменить"><i class="fas fa-times-circle"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Отменить</div>
               </div> -->

            </td>
            
            {% elif l.status == 'conf' %}
            <td>Принято</td>
            <td>
                <a class="mt-2 btn btn-primary" style="background-color: rgb(53, 80, 236);" href="{% url 'laureate_change_status' l.pk 'wait' %}"
                 role="button" onclick="return confirm(&#39;Вы уверены?&#39;)" data-toggle="tooltip" title="В ожидании "><i class="fas fa-undo"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">В ожидании </div>
               </div> -->


               <a class="mt-2 btn btn-primary" style="background-color: rgba(136, 136, 136, 0.659);" href="{% url 'laureate_change_status' l.pk 'end' %}" 
               role="button" onclick="return confirm(&#39;Вы уверены?&#39;)"  data-toggle="tooltip" title="Подан"><i class="fas fa-check"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Подан</div>
               </div> -->

            </td>

            {% elif l.status == 'cancel' %}
            <td>Отменано</td>
            <td>
                <a class="mt-2 btn btn-primary" style="background-color: rgb(53, 80, 236);" href="{% url 'laureate_change_status' l.pk 'wait' %}"
                 role="button" onclick="return confirm(&#39;Вы уверены?&#39;)" data-toggle="tooltip" title="В ожидании "><i class="fas fa-undo"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">В ожидании </div>
               </div> -->




            </td>

            {% elif l.status == 'end' %}
            <td>Подан</td>
            <td>
                <a class="mt-2 btn btn-primary" style="background-color: rgb(53, 80, 236);" href="{% url 'laureate_change_status' l.pk 'conf' %}"
                 role="button" onclick="return confirm(&#39;Вы уверены?&#39;)" data-toggle="tooltip" title="Восстановить"><i class="fas fa-backspace"></i></a>
               <!-- <div class="tooltip bs-tooltip-top" role="tooltip">
                  <div class="arrow"></div>
                  <div class="tooltip-inner">Восстановить</div>
               </div> -->




            </td>


            {% endif %}

            <td>
               <a class="mt-2 btn btn-primary" style="background-color: rgb(128, 45, 1);" href="{% url 'laureate_delete' l.pk %}"
               role="button" onclick="return confirm(&#39;Вы уверены?&#39;)" data-toggle="tooltip" title="В ожидании "><i class="fas fa-trash"></i></a>
            </td>


       </tr>
       {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>

function create_card(answers, photo) {
   var content = document.getElementsByClassName("content-page")[0];
   var parent = document.getElementsByClassName("col-lg-12")[0];

   var grey = document.createElement("div");
   grey.setAttribute("class", "grey");
   grey.addEventListener("click", remove)

   var card_content = document.createElement("div");
   card_content.setAttribute("class", "card-content")

   var card_columns = document.createElement("div");
   card_columns.setAttribute("class", "card-columns answer_card");
   
   function remove() {
      var parent = document.getElementsByClassName("col-lg-12")[0];
      var card_columns = document.getElementsByClassName("card-content")[0];
      parent.removeChild(card_columns);

      var content = document.getElementsByClassName("content-page")[0];
      var grey = document.getElementsByClassName("grey")[0];
      content.removeChild(grey);
   }

   
   var x = document.createElement("div");
   x.setAttribute("class", "x");
   x.addEventListener("click", remove);
   i = document.createElement("i");
   i.setAttribute("class", "far fa-circle i");
   x.appendChild(i);


   card = document.createElement("div");
   card.setAttribute("class", "card");

   img = document.createElement("img");
   img.setAttribute("class", "card-img-top");
   img.setAttribute("src", photo);

   card_body = document.createElement("div");
   card_body.setAttribute("class", "card-body");

   for (var i = 0; i < answers.length; i++) {
      var p = document.createElement("p");
      p.setAttribute("class", "card-text");
      text = document.createTextNode(answers[i]);
      p.appendChild(text);
      card_body.appendChild(p);
   }

   card.appendChild(img);
   card.appendChild(card_body);
   card_columns.appendChild(card);
   // card_columns.appendChild(x);
   card_content.appendChild(card_columns)
   parent.appendChild(card_content);
   content.appendChild(grey);
}
   
</script>
{% endblock %}



